<ion-view title="Split Ride">
    <ion-content ng-show="!state.success" has-header="true" has-tabs="true" padding="true">
        
        <div class="row"> 
            <div align="center">
                The total cost of your ride was: ${{rideCost}}
            </div>
        </div>
        
        <div class="row">
            <div class="col col-80">
                <label class="item item-input">
                    <input type="text" ng-model="data.venmoUsername" placeholder="Venmo username"/>
                </label>
            </div>
            <div class="col">
                <button ng-click="addPayer()" class="button button-positive">Add</button>
            </div>
        </div>

        <div class="row">
            <div class="col col-80">
                <ul class="list">
                    <li class="item" ng-repeat="payer in payerList track by $index">
                      test                    
                  </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
