<ion-view title="Split Ride">
    <ion-content ng-show="!state.success" has-header="true" has-tabs="true" padding="true">
        
        <div class="row"> 
            <div align="center">
                The total cost of your ride was: ${{totalPrice}}
            </div>
        </div>
        
        <div >
            <div class="row">
                <div align="center">
                    Costs: 
                </div>
            </div>
            <div class="row"ng-repeat="cost in costComponents">
                {{cost.attributes.amount}}, {{cost.attributes.blurb}}
            </div>
            <div class="row">
                <div align="center">
                    Additional Costs: 
                </div>
            </div>
            <div class="row">
                <label class="item item-input">
                    <input type="text" ng-model="data.additionalCostAmount" placeholder="Amount"/>
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="data.additionalCostBlurb" placeholder="Blurb"/>
                    
                </label> 
                <button class="button button-positive" ng-click="createCC()">+</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input">
                    <input type="text" ng-model="data.venmoUsername" placeholder="Venmo username"/>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col col-100">
            <ul class="list">
                    <li class="item" ng-repeat="friend in friends track by $index">
                        <div class="row">
                            {{friend.display_name}}
                            <button ng-click="addPayer(friend)">Add</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div align="center">
                Selected Users:
            </div>
        </div>
        <div class="row">
            <div class="col col-80">
                <ul class="list">
                    <li class="item" ng-repeat="payer in payerList track by $index">
                        <div class="row">
                            <div>
                                {{payer.attributes.venmoUsername}}
                            </div>
                            <div class="col col-10 col-offset-90">
                                <button class="button button-small button-assertive" ng-click="removePayer(payer, $index)">X</button>
                            </div>           
                        </div>
                  </li>
                </ul>
            </div>
        </div>


        <div class="row">
            <button class="button button-full button-balanced" ng-show="payerList.length" ng-click="createPayments()">
                Charge
            </button>
        </div>
    </ion-content>
</ion-view>
