<ion-view title="My Car">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list">
            {{yearService}}
            {{makeService}}
            {{modelService}}
            <label class="item item-input item-select">
              <div class="input-label">
                Year
              </div>
              <select ng-model="carData.carYear" ng-options="year.value for year in years" ng-change="updateMake()">
              </select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
                Make
              </div>
              <select ng-model="carData.carMake" ng-options="make.value for make in makes" ng-change="updateModel()">
              </select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
                Model
              </div>
              <select ng-model="carData.carModel" ng-options="model.value for model in models" ng-change="updateInfo()">
              </select>
            </label>
        </div>
        <button class="button button-block button-balanced" ng-click="addCar()">
            ADD MY CAR
        </button>
    </ion-content>
</ion-view>
