<div class="popup-show" ng-controller="SelectCarController">
    <label class="item item-input item-select">
      <div class="input-label">
        Cars
      </div>
      <select ng-model="userCars.car" ng-options="car.attributes.make for car in cars" ng-change="updateCarStats()">
      </select>
    </label>

    <div ng-hide="carInfo == undefined">
      <div class="list card">
        <div class="item">
          <div class="row">
            <div class="col-33">
              <i class="icon rating" ng-class="{'assertive': mpg < 20, 'energized': mpg >= 20 && mpg <30, 'balanced': mpg >= 30, 'ion-record': mpg < 50, 'ion-leaf': mpg >= 50 }"></i>
            </div>
            <div class="col">
              <h2>{{carInfo.make}}
              <p>{{carInfo.model}}</p>
              <p>{{carInfo.year}}</p>
            </div>
          </div>
        </div>

        <div class="item item-body">
          <p>
            Avg MPG: {{mpg}}
          </p>
          <p>
            Fuel Type: {{carInfo.gasType}}
          </p>
        </div>
      </div>
      <div class="wrapper-center">
        <button class="button button-positive" ng-click="selectCar()">
          SELECT CAR
        </button>
      </div>
    </div>
</div>
