/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.padding {
  padding: 0;
}

.rating {
  font-size: 48px;
}

.dashboard {
  font-size: 24px;
}

.wrapper-center {
  text-align: center;
}

.small-card {
  font-size: 14px;
}

.popup-show {
  height: 350px;
}

.welcome{
  padding-top: 100px;
}
/*[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}*/

#end-trip{
  visibility: hidden;

}

#start-trip{

  position: absolute;
}

.home-screen{
  padding-top: 30px;
}
